<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>
    Message:<br>
    ----------
    </p>
    <p>You Interview is scheduled!!! </p>
    <p>
    Interview details<br>
    --------------------------
    </p>
    <p>Title: <%= @interview.title %></p>
    <p>start_time <%= @interview.start_time %></p>
    <p>end_time: <%= @interview.end_time %></p>
   
    
    
  </body>
</html>